In [3]:
CREATE DATABASE demo_security;

In [1]:
-- SQL Server-Login erstellen
USE master;
CREATE LOGIN test_user
WITH PASSWORD = 'passwort', CHECK_POLICY = OFF;

-- Einem Login ein User zuordnen
USE demo_security;
CREATE USER test_user FOR LOGIN test_user;

: Msg 15025, Level 16, State 1, Line 3
The server principal 'test_user' already exists.

In [3]:
-- Server Login löschen
USE master
DROP LOGIN test_user;

-- Datenbank User löschen
USE demo_security
DROP USER test_user;