# Übungsaufgaben DML

Der folgende Block enthält Übungsaufgaben zu den Kapiteln INSERT, UPDATE, DELETE und CASCADE.

## INSERT

Führe diese Aufgaben aus, nachdem du den INSERT-Block bearbeitet hast.

**1.1** Erstelle eine neue Kundin in der Tabelle _verkauf.kunden_ mit folgenden Attributen:

- Vorname: Barbara
- Nachname: Traufer

In [ ]:
INSERT INTO verkauf.kunden
VALUES ('Barbara','Traufer');

**1.2** Füge drei neue Produkte in der dafür vorgesehenen Tabelle hinzu. Den Produktnamen, den Preis sowie das Energielabel kannst du jeweils selber bestimmen.

In [ ]:
INSERT INTO verkauf.produkte VALUES 
('Zahnbürstenkopf',23.95,NULL),
('Druckerpatrone schwarz',26,NULL),
('Rasenmäher',129,'D');

**1.3** Erstelle zwei neue Einträge in der Tabelle _verkauf.bestellungen_, welche zur oben neu erstellten Kundin gehören. Das Bestelldatum kannst du bei beiden Bestellungen frei wählen.

In [ ]:
INSERT INTO verkauf.bestellungen VALUES 
('05.06.2024 14:24:07',6),
('17.11.2024 20:53:18',6);

## UPDATE

Führe diese Aufgaben aus, nachdem du den UPDATE-Block bearbeitet hast.

**2.1** Die Kundin mit der Kundenid 3 wünscht, dass ihr Vorname in den Stammdaten von _unbekannt_ auf _Maria_ geändert wird. Bitte nimm diese Änderung vor.

In [ ]:
UPDATE verkauf.kunden
SET vorname = 'Maria'
WHERE kundenid = 3 and vorname = 'unbekannt';

**2.2** Du erhältst den Auftrag, den Namen des Produktes mit der Id 2 auf _Zitruspresse_ zu ändern und im selben Zug auch gleich den Preis um CHF 10 zu erhöhen.

In [ ]:
UPDATE verkauf.produkte
SET produktname = 'Zitruspresse', preis = preis + 10
WHERE produktid = 2;

## DELETE

Führe diese Aufgaben aus, nachdem du den DELETE-Block bearbeitet hast.

**3.1** Du wirst von deinem Vorgesetzten aufgefordert, alle Bestellungen des Kunden _Bruno Moser_ zu löschen. Nimm bitte diese Mutation vor.
**Wichtig**: Sei vorsichtig, dass nicht zu viele Daten gelöscht werden.

In [ ]:
DELETE FROM verkauf.bestellungen
WHERE kundenid = 4;

**3.2** Angenommen, du wirst angewiesen die Kundin Barbara Traufer aus der Kunden-Tabelle zu löschen. Würde das Datenbanksystem diese Löschung zulassen? Was gibt es dabei zu beachten? Schreibe deine Überlegungen auf, ohne die Mutation vorzunehmen.

In [ ]:
/*
Die Löschung würde durch das DBMS zugelassen, da auf dem verknüpften Fremdschlüssel in der Tabelle verkauf.bestellungen 
die Löschweitergabe aktiviert ist. Wäre diese Löschweitergabe nicht aktiviert, würde die Löschung nicht zugelassen, weil sonst die 
referentielle Integrität verletzt wäre.
*/